.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width: 1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr) ;
    }
    
}

.cart-buttons{
    display: grid;
}

.btn-clear{
    width: 232px;
    height: 48px;
    padding: 13px 60px;
    background-color: #FF3030;
    border: none;
    border-radius: 10px;
    color: white;
}
.btn-review{
    width: 232px;
    height: 48px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
}